- group_member_form ||= GroupMemberForm.new

div
  p #{I18n.t('study_start_at')}: #{group.start_at.strftime('%d.%m.%Y %H:%M')}
  div
    p #{I18n.t('students')}:
    ul
      - group.students.each do |student|
        li #{student.email}
  = render(partial: 'courses/show/register_form', locals: { group: group, group_member_form: group_member_form })    
  hr
