= form_for group_member_form, url: group_member_path, method: :create, remote: true do |f|
  = f.hidden_field :group_id, value: group.id

  div
    = f.label :email
    = f.text_field :email

  - if group_member_form.errors.present?
    p Не удалось записаться:
    ul
    - group_member_form.errors.full_messages.each do |error|
      li #{error}

  div
    = submit_tag I18n.t('assign')
